* {
    box-sizing: border-box;
}

:root {
    --gapSize: 7px;
    --borderRadius: 3px;
}

html {
    font-size: 30px;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

.btn {
    padding: 8px;
    background-color: #ff0200;
    border: none;
    border-radius: 3px;
    color: white;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

input,
select {
    border-radius: var(--borderRadius);
    height: 35px;
}

/* CREATE PLAYLIST */
.load-videos,
.create-playlist {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 75%;
}

.create-playlist input {
    width: 100%;
    transition: 0.3s;
    /* left: 0; */
}

.create-playlist input:hover {
    /* width: 80%; */
}

:is(.create-playlist .add-to-q) {
    height: 40px;
}

:is(.create-playlist .add-to-q) img {
    height: 100%;
}


.hide {
    display: none;
}

.shake-animation {
    animation: shake 0.08s 3 alternate forwards ease-in;
}

.toggle-filterby-btn {
    width: fit-content;
    margin-bottom: 10px;
    background: none;
    white-space: nowrap;
    border: none;
    font-size: 15px;
    padding-left: 0;
    color: white;
    position: relative;
}

.filter-container {
    display: flex;
    font-size: 16px;
    margin-bottom: 5px;
    align-items: center;
}

.ascending-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}


.sort-icon {
    --width: 100%;
    --padding: 0em;
    --gap: 0.1em;
    --aspect-ratio: 5;

    width: var(--width);
    aspect-ratio: var(--aspect-ratio);
    display: inline-flex;
    gap: var(--gap);
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding);

    .icon-line {
        height: 0.15em;
        background-color: white;
        transition: .2s;

        &:nth-child(1) {
            width: calc(5 / 5 * 100%);

            input:checked+.ascending-label & {
                width: calc(1 / 5 * 100%);
            }
        }

        &:nth-child(2) {
            width: calc(4 / 5 * 100%);
            transition-delay: 0.05s;
            input:checked+.ascending-label & {
                width: calc(2 / 5 * 100%);
            }
        }

        &:nth-child(3) {
            width: calc(3 / 5 * 100%);
            transition-delay: 0.1s;
            input:checked+.ascending-label & {
                width: calc(3 / 5 * 100%);
            }
        }

        &:nth-child(4) {
            width: calc(2 / 5 * 100%);
            transition-delay: 0.15s;
            input:checked+.ascending-label & {
                width: calc(4 / 5 * 100%);
            }

        }

        &:nth-child(5) {
            width: calc(1 / 5 * 100%);
            transition-delay: 0.22s;
            input:checked+.ascending-label & {
                width: calc(5 / 5 * 100%);
            }
        }


    }
}

.ascending-label {
    border: 1px solid red;
    cursor: pointer;
    padding: 4px;
    height: 27px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadius);
    transition: background-color 0.3s;

}

/* input:checked+.ascending-label {
    background-color: red;
} */


.ascending-container input {
    height: 0;
    width: 0;
}

.sort-by-container {
    display: flex;
    /* align-items: center; */
    width: fit-content;
    /* flex-grow: 1; */
    height: 35px;
    /* margin-bottom: 5px; */
    position: relative;
}

.sort-by-container:after {
    content: "";
    display: block;
    height: 1.5px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    top: 86%;
    left: 0;
    right: 100%;
    transition: 0.6s right cubic-bezier(0.19, 0.91, 0.18, 1.02);
}

.sort-by-container:hover:after {
    right: -2%;
}

.sort-by-container label {
    /* height: 35px; */
    line-height: 35px;
    /* font-size: 1em; */
    display: inline-block;
    margin-right: 7px;
}

select.sort-by {
    font-size: 1em;

    width: min-content;
    /* margin-bottom: 5px; */
    background: none;
    color: white;
    border: none;
    cursor: pointer;

    align-self: flex-start;
}

select.sort-by:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    inset: 0;

    top: 100%;
}

input,
select {
    outline: none;
    position: relative;
}

input {
    padding: 6px;
    font-size: 16px;
    border: none;
}

:is(input, select):not(.sort-by, [type="checkbox"]):focus {
    box-shadow: 0px 0px 5px 3px #ff0200;
}

.btn:hover {
    background-color: #fd3c3c;
}

.main {
    background-color: #1c1c1c;
    color: white;
    border: 3px solid #ff0200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 485px;
    width: 300px;
    padding: 50px 20px;
    font-size: 2em;
}

.main-inputs {
    display: flex;
    gap: var(--gapSize);
    margin-bottom: var(--gapSize);
}



/* LOAD VIDEOS */
.load-videos>.inputs {
    display: flex;
    /* justify-content: center; */
    text-align: center;
    gap: var(--gapSize);
    margin-bottom: var(--gapSize);
}

.main-inputs input[name="search-term"] {
    flex-grow: 1;
}

.main-inputs select.num-of-vids {
    max-width: 30%;
}

.btn-and-checkbox {
    width: 100%;
    height: 40px;
    align-items: center;
    gap: var(--gapSize);
    margin-bottom: var(--gapSize);

    display: flex;
}

.btn-and-checkbox input {
    height: 100%;
}

.btn-and-checkbox .add-to-q {
    flex-grow: 1;
}

.btn-and-checkbox .checkbox-container {

    font-size: 14px;
}

.load-videos select {
    flex-grow: 1;
}

.load-videos>.inputs>input {
    width: 40%;
    /* margin-inline: 10px; */
}

.load-videos .btns {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 5px;
    width: 100%;
}

.load-videos .btns {
    height: 40px;
}

.load-videos .btns .load-videos-btn {
    width: 100%;
    height: 100%;
    /* margin-right: 5px; */
}

.key-search-container {
    display: flex;
    flex-direction: column;
}

.clear-btn {
    color: white;
    background: none;
    border: none;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


@keyframes shake {
    0% {
        transform: rotateZ(-1deg);
    }

    25% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(1deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes fill-underline {
    to {
        right: -3%;
    }
}

@keyframes empty-underline {
    to {
        right: -110%;
    }
}

/*  */
/* .checkbox-wrapper-26 * { */
/* -webkit-tap-highlight-color: transparent; */
/* outline: none; */
/* } */
/*  */
/* .checkbox-wrapper-26 input[type="checkbox"] { */
/* display: none; */
/* } */
/*  */
/* .checkbox-wrapper-26 label { */
/* --size: 40px; */
/* --shadow: calc(var(--size) * 0.07) calc(var(--size) * 0.1); */
/*  */
/* position: relative; */
/* display: block; */
/* width: var(--size); */
/* height: var(--size); */
/* margin: 0 auto; */
/* background-color: red; */
/* border-radius: 3px; */
/*  */
/* box-shadow: 0 var(--shadow) #ffbeb8; */
/* cursor: pointer; */
/* transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow; */
/* overflow: hidden; */
/* z-index: 1; */
/* } */
/*  */
/* .checkbox-wrapper-26 label:before { */
/* content: ""; */
/* position: absolute; */
/* top: 50%; */
/* right: 0; */
/* left: 0; */
/* width: calc(var(--size) * 0.7); */
/* height: calc(var(--size) * 0.7); */
/* margin: 0 auto; */
/* background-color: #fff; */
/* transform: translateY(-50%); */
/* border-radius: 3px; */
/* box-shadow: inset 0 var(--shadow) #ffbeb8; */
/* transition: 0.2s ease width, 0.2s ease height; */
/* } */
/*  */
/* .checkbox-wrapper-26 label:hover:before { */
/* width: calc(var(--size) * 0.55); */
/* height: calc(var(--size) * 0.55); */
/* box-shadow: inset 0 var(--shadow) #ff9d96; */
/* } */
/*  */
/* .checkbox-wrapper-26 label:active { */
/* transform: scale(0.9); */
/* } */
/*  */
/* .checkbox-wrapper-26 .tick_mark { */
/* position: absolute; */
/* top: -1px; */
/* right: 0; */
/* left: calc(var(--size) * -0.05); */
/* width: calc(var(--size) * 0.6); */
/* height: calc(var(--size) * 0.6); */
/* margin: 0 auto; */
/* margin-left: calc(var(--size) * 0.14); */
/* transform: rotateZ(-40deg); */
/* } */
/*  */
/* .checkbox-wrapper-26 .tick_mark:before, */
/* .checkbox-wrapper-26 .tick_mark:after { */
/* content: ""; */
/* position: absolute; */
/* background-color: #fff; */
/* border-radius: 2px; */
/* opacity: 0; */
/* transition: 0.2s ease transform, 0.2s ease opacity; */
/* } */
/*  */
/* .checkbox-wrapper-26 .tick_mark:before { */
/* left: 0; */
/* bottom: 0; */
/* width: calc(var(--size) * 0.1); */
/* height: calc(var(--size) * 0.3); */
/* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23); */
/* transform: translateY(calc(var(--size) * -0.68)); */
/* } */
/*  */
/* .checkbox-wrapper-26 .tick_mark:after { */
/* left: 0; */
/* bottom: 0; */
/* width: 100%; */
/* height: calc(var(--size) * 0.1); */
/* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23); */
/* transform: translateX(calc(var(--size) * 0.78)); */
/* } */
/*  */
/* .checkbox-wrapper-26 input[type="checkbox"]:checked+label { */
/* background-color: #07d410; */
/* background-color: red; */
/* box-shadow: 0 var(--shadow) #92ff97; */
/* } */
/*  */
/* .checkbox-wrapper-26 input[type="checkbox"]:checked+label:before { */
/* width: 0; */
/* height: 0; */
/* } */
/*  */
/* .checkbox-wrapper-26 input[type="checkbox"]:checked+label .tick_mark:before, */
/* .checkbox-wrapper-26 input[type="checkbox"]:checked+label .tick_mark:after { */
/* transform: translate(0); */
/* opacity: 1; */
/* } */

.filter-by-text {
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

[data-tooltip] {
    white-space: nowrap;
    position: relative;
    z-index: 9999999;
}

span[data-tooltip] {}

[data-tooltip]:before {
    content: attr(data-tooltip);
    z-index: 9999999;

    position: absolute;
    bottom: 92%;
    left: 50%;
    padding: 8px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.2s ease-in-out;
    transform-origin: bottom;
    background: #505050;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    /* font-family: roboto; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

[data-tooltip]:hover:before {
    transform: translateX(-50%) scale(1);
}

[data-tooltip]:hover:after {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

[data-tooltip]:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    transform: translateX(-50%) scale(0);
    transition: transform 0.2s ease-in-out;
    transform-origin: top;
    border-right: 8px solid transparent;
    border-top: 8px solid #505050;
    border-left: 8px solid transparent;
    left: 50%;
    top: 6%;
    z-index: 9999999;

}


/* ------------------- Checkbox ------------------- */


.filter-checkboxes-container {
    display: flex;
    gap: var(--gapSize);
    margin-bottom: var(--gapSize);
}

.checkbox-container.btn {
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: white;
    /* width: 100%; */
    cursor: pointer;
    font-size: 16px;
    border: #ff0200 2px solid;
    position: relative;
    /* box-shadow: inset 0 0 0 0px #ff0200; */
    transition: 0.2s ease-out;

    &:has(input:checked) {
        /* box-shadow: inset 0px 0px 0 2px #ff0200; */
        box-shadow: inset 0px 0px 0 35px #ff0200;

    }

}

.filter-checkboxes-container span.checkbox-text {}

.filter-checkboxes-container input {
    width: 40%;
    height: 100%;
}

.filter-checkboxes-container button {
    flex-grow: 1;
}

.checkbox-wrapper-28 {
    --size-2: 24px;
    position: relative;
}

.checkbox-wrapper-28 *,
.checkbox-wrapper-28 *:before,
.checkbox-wrapper-28 *:after {
    box-sizing: border-box;
}

.checkbox-wrapper-28 .promoted-input-checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.checkbox-wrapper-28 input:checked~svg {
    height: calc(var(--size-2) * 0.6);
    -webkit-animation: draw-checkbox-28 ease-in-out 0.2s forwards;
    animation: draw-checkbox-28 ease-in-out 0.2s forwards;
}

.checkbox-wrapper-28 label:active::after {
    background-color: #e6e6e6;
}

.checkbox-wrapper-28 label {
    color: white;
    line-height: var(--size-2);
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: inherit;
    padding: 4px;
    padding-bottom: 8px;
}

.checkbox-wrapper-28 label:after {
    content: "";
    height: var(--size-2);
    width: var(--size-2);
    /* margin-right: 8px; */

    float: left;
    border: 2px solid white;
    border-radius: 3px;
    transition: 0.15s all ease-out;
}

.checkbox-wrapper-28 svg {
    stroke: white;
    stroke-width: 3px;
    height: 0;
    width: calc(var(--size-2) * 0.6);
    position: absolute;
    left: calc(var(--size-2)* 1.54);
    top: calc(var(--size-2)* 1.4);
    stroke-dasharray: 33;
}

@-webkit-keyframes draw-checkbox-28 {
    0% {
        stroke-dashoffset: 33;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-checkbox-28 {
    0% {
        stroke-dashoffset: 33;
    }

    100% {
        stroke-dashoffset: 0;
    }
}